### Django ###
*.log
db.sqlite3
db.sqlite3-journal
/media/              # Uploads utenti
/staticfiles/        # Statici generati da collectstatic

### Ambiente virtuale ###
venv/
ENV/
env/
pythonenv/

### Python ###
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

### IDE ###
.idea/
.vscode/
*.swp
*.swo

### Sistemi operativi ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
[Tt]humbs.db

### Environment ###
.env
.env.*
