{% extends "base.html" %}
{% load tz %}

{% block title %}I tuoi ordini{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-5 py-3 border-bottom position-relative">
    <!-- Pulsante Back -->
    <a href="{% url 'home' %}" class="btn btn-outline-dark btn-sm d-inline-flex align-items-center px-3 py-2">
        <i class="bi bi-chevron-left me-2"></i>
        <span class="small">Torna alla home</span>
    </a>

    <!-- Spaziatura bilanciata -->
    <div style="width: 120px;"></div>
</div>
<div class="container mt-5">
    <div class="mb-4">
        <h2>I tuoi ordini</h2>
    </div>

    {% if orders %}
        {% for order in orders %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                  Ordine n. {{ order.code }} - {{ order.created_at|localtime|date:"d/m/Y H:i" }}
                </h5>
                <p class="card-text">
                    <strong>Indirizzo:</strong> {{ order.shipping_address }}<br>
                    <strong>Città:</strong> {{ order.shipping_city }}<br>
                    <strong>Totale:</strong> €{{ order.total_price|floatformat:2 }}
                </p>
                <h6>Prodotti:</h6>
                <ul>
                    {% for item in order.items.all %}
                        <li>
                            {{ item.quantity }}x {{ item.product.name }}
                            {% if item.size %} - <em>Taglia: {{ item.size.name }}</em>{% endif %}
                            (€{{ item.price }})
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info">Non hai ancora effettuato ordini.</div>
    {% endif %}
</div>
{% endblock %}
